h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body,
section {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  position: fixed;
  z-index: 69;
  background-color: white;
}

.black-nav {
  display: none;
}

.white-nav {
  display: none;
}

.mobile-logo {
  background-color: black;
  height: 48px;
  width: 100px;
}

.logo {
  margin: 15px 15px;
  vertical-align: middle;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(228, 222, 222);
}

.bar,
.search {
  border-left: 1px solid rgb(228, 222, 222);
  padding: 16px 15px;
}

.bar-icon {
  color: red;
}

.search-icon {
  color: rgb(228, 222, 222);
}

.yellow-anchor {
  text-decoration: none;
}

.yellow-nav {
  background-color: yellow;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  padding-top: 15px;
  padding-left: 5px;
}

/* Main */

/* Highlights */
.highlights {
  width: 95%;
  margin: 0 auto;
  margin-top: 90px;
}

.container {
  position: relative;
  color: black;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  height: 200px;
  margin-top: 15px;
}

.phone {
  position: relative;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(235, 76, 59, 0.9),
      rgba(20, 19, 33, 0.5)
    ),
    url("../images/1.jpg");
}

.google {
  position: relative;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(235, 76, 59, 0.9),
      rgba(20, 19, 33, 0.5)
    ),
    url("../images/2.png");
}

.mac {
  position: relative;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(235, 76, 59, 0.9),
      rgba(20, 19, 33, 0.5)
    ),
    url("../images/3.webp");
}

.highlight-logo,
.date {
  display: none;
}

.opal {
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
}

.opal-small {
  color: white;
  text-decoration: none;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: white;
  z-index: 1;
}

.bottom-left-details {
  display: flex;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  align-items: center;
}

.highlights-image {
  width: 100%;
}

.author,
.clock,
.share,
.time-stump {
  margin-right: 7px;
  font-size: 1rem;
}

/* Latest-funding */
.latest-funding {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20%;
}

.title-p {
  margin-left: 10px;
}

.title {
  color: rgb(224, 73, 17);
  text-decoration: none;
}

.sub-title {
  margin-left: 10px;
}

.sub-text {
  text-decoration: none;
  color: rgb(224, 73, 17);
  line-height: 2rem;
}

.funds {
  margin: 10px;
  position: relative;
}

.latest-logo {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 0;
  left: 0;
  margin: 10.6px;
}

.ring {
  background-color: #f42;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiss {
  text-decoration: none;
  color: white;
}

.bottom-orange {
  text-decoration: none;
  color: #555;
}

.funding-bottom {
  background-color: #ffebe7;
  text-align: center;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
}

.funding-text {
  text-align: center;
  margin-right: 55px;
}

.funding-small {
  text-align: center;
  color: #555;
  margin-left: 5px;
}

.funding-tags {
  padding: 20px 10px;
  background-color: #fefaf8;
}

.funding-anchors {
  margin-left: 18px;
  text-decoration: none;
  color: gray;
}

.funding-exp {
  margin-top: 10px;
}

.funding-tel {
  margin-left: 15px;
}

.funding-details {
  background-color: #fefaf8;
  padding: 20px 10px;
  color: gray;
  border-top: 1px solid #f42;
}

.funds:nth-of-type(4) {
  display: none;
}

/* Footer */
.top-footer {
  background-color: rgb(44, 42, 42);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px 0;
}

.bottom-footer {
  background-color: black;
  color: white;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-content: center;
}

.footer-paragraph {
  color: grey;
  font-size: 8px;
  margin-left: 3px;
}

.stack-logo {
  width: 30px;
}

.footer-logo {
  width: 25px;
}

.footer-icons {
  align-self: center;
}

.anchor-icon-i {
  background-color: grey;
  border-radius: 50px;
  padding: 10px;
  margin-right: 5px;
}

.footer-icon {
  color: white;
  font-size: 15px;
  text-align: center;
  height: 7px;
  width: 15px;
}

.footer-links {
  align-self: center;
  margin-top: 10px;
}

.footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-list {
  display: inline;
  padding-left: 10px;
}

.footer-anchor {
  text-decoration: none;
  color: grey;
  font-size: 12px;
}

.blue-man {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: blue;
  border-radius: 100px;
  color: white;
  width: 100px;
  height: 100px;
}

.blue-man-icon {
  width: 40%;
  padding: 30px;
}

.categories-header {
  text-decoration: none;
  color: #f42;
}

.popular {
  position: relative;
  color: black;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0 auto;
  height: 200px;
  margin-top: 15px;
}

.categories-section {
  width: 90%;
  margin: 0 auto;
}

.popular-text {
  position: absolute;
  bottom: 0;
}

.popular-order {
  margin: 0 auto;
  width: 100%;
}

.texas-img {
  width: 100%;
  margin: 0 auto;
  height: 200px;
}

.header-popular,
.popular-bottom,
.popular-opal {
  padding: 5px 10px;
}

.header-popular {
  color: white;
}

.popular-bottom {
  display: flex;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  align-items: center;
}

.latest-popular {
  padding-left: 10px;
}

.robin {
  width: 100px;
  height: 100px;
}

.header-p {
  color: #f42;
  padding-bottom: 5px;
}

.popular-anchor {
  text-decoration: none;
  color: #f42;
}

.flex-popular {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffebe7;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.deals-item {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-right: 20px;
  padding-left: unset;
}

.deals-list {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  margin-left: 0;
}

.deals-item li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -0.2rem;
}

.deals-hr {
  width: 98%;
  padding-right: 10px;
  margin: 15px 0;
  border-bottom: 1px solid #555;
  text-underline-offset: 1em;
}

.anchor-line {
  color: #555;
  text-decoration: none;
  font-size: 13px;
}

.comment-grid {
  font-size: 15px;
}

.latest-news {
  width: 89%;
  margin: 0 auto;
  margin: 5px;
}

.latest-news-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  padding: 10px;
}

.latest-grid-image {
  width: 100%;
}

.anchor-for-grid {
  display: inline;
  color: rgb(192, 179, 179);
  text-decoration: none;
}

.para-for-grid {
  display: inline;
  color: rgb(192, 179, 179);
}

.latest-news-head {
  color: orangered;
  font-size: 35px;
  margin-left: 10px;
}

.latest-news-heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.anchor-news {
  color: orangered;
  width: 90px;
}

.latest-comments {
  display: flex;
  margin-top: 5px;
}

.para-for-grid,
.griders {
  font-size: 12px;
}

@media (min-width: 768px) {
  a {
    text-decoration: none;
  }

  .black-nav {
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
  }

  .mobile-logo {
    display: block;
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
  }

  .logo {
    margin-top: 50px;
  }

  .black-left {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-left: 80px;
  }

  .black-right {
    list-style: none;
    display: flex;
  }

  .anchor-news {
    margin-left: -20px;
  }

  .white-nav {
    display: flex;
    list-style: none;
    margin-left: 80px;
  }

  .white-nav-links {
    font-weight: bolder;
    color: #555;
    padding-left: 10px;
  }

  .black-anchor {
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
  }

  .bar {
    display: none;
  }

  .yellow-nav {
    padding-left: 130px;
  }

  .container {
    height: 100%;
    background-size: unset;
    margin-top: -5px;
  }

  .highlights {
    margin-top: 20%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "box-1 box-2"
      "box-1 box-3";
  }

  .phone {
    grid-area: box-1;
  }

  .google {
    grid-area: box-2;
  }

  .mac {
    grid-area: box-3;
  }

  .date {
    display: none;
  }

  .bottom-left {
    position: relative;
    margin-top: 80px;
    margin-bottom: 5px;
  }

  .bottom-left-logo {
    margin-top: 200px;
    margin-bottom: 5px;
  }

  .bottom-left-details {
    margin-top: 10px;
  }

  .opal {
    font-size: 30px;
  }

  .opal-small {
    font-size: 15px;
  }

  .author,
  .clock,
  .share,
  .time-stump {
    margin-right: 3px;
    font-size: 1rem;
  }

  .highlight-logo {
    display: none;
  }

  .sub-title {
    display: flex;
  }

  .sub-text {
    margin-right: 10px;
  }

  .sub-text:nth-last-child(2) {
    border-left: 1px solid #f42;
    border-right: 1px solid #f42;
    padding: 0 5px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .funding:nth-last-of-type(3) {
    display: block;
  }

  .categories {
    position: relative;
  }

  .categories-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }

  .popular-order {
    width: 45%;
    margin: 10px 0 0 25px;
  }

  .tablet-grid {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .latest-news {
    width: 95%;
  }

  .latest-news-heading {
    margin: 0 auto;
    font-weight: bolder;
    margin-left: 20px;
  }

  .latest-news-grid {
    display: flex;
    flex-wrap: wrap;
    width: 27%;
  }

  .image-for-grid {
    background-image: url("../images/1.jpg");
  }

  .latest-news-head {
    width: 92%;
  }

  .latest-grid-image {
    width: 230px;
    height: 130px;
  }

  .comment-for-h4 {
    font-size: 10px;
  }
}

@media (min-width: 1024px) {
  .black-nav {
    justify-content: space-between;
  }

  .mobile-logo {
    display: none;
  }

  .black-left {
    margin-left: 0;
  }

  .black-right {
    margin-right: 10px;
  }

  .white-nav {
    margin-left: 0;
    padding-left: 15px;
  }

  .yellow-nav {
    padding-left: 30px;
  }

  .black-anchor {
    font-size: 1.1rem;
    padding-left: 20px;
  }

  .highlights {
    width: 98%;
    margin-top: 160px;
    position: relative;
  }

  .highlight-logo {
    display: block;
    height: 350px;
    width: 350px;
    position: absolute;
    bottom: 150px;
    left: 10px;
  }

  .bottom-left {
    margin-top: 120px;
  }

  .bottom-left-logo {
    margin-top: 290px;
  }

  .date {
    display: block;
    position: absolute;
    top: -250px;
    font-size: 1rem;
    right: 10px;
  }

  .opal {
    font-size: 35px;
  }

  .opal-small {
    font-size: 20px;
  }

  .popular-order {
    width: 30%;
  }

  .latest-funding {
    margin-bottom: 0;
  }

  .funds-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .funds:nth-of-type(4) {
    display: block;
  }

  .latest-news-grid {
    width: 20%;
  }

  .latest-news {
    width: 75%;
    margin: 0 auto;
  }

  .categories-section {
    width: 73%;
    margin: 0 auto;
  }
}
